
table{
    border:2px solid black;
    border-top: 2px solid black !important;
    font-family: 'Press Start 2P', cursive;
    color:blue!important;

}

.specialBorder{
    border:2px solid black !important;
    border-top: 2px solid black !important;
}

h4,h5,h1{
    font-family: 'Press Start 2P', cursive;
    color:blue!important;
}

body::after{
    content:"";
    background-image: url('https://files.slack.com/files-pri/T1JUM9ZNC-F011KDLPTE3/blogbackground.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
